.search-chip {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    color: #797C9A;
    border: 1px solid #E1E1E1;
    border-radius: 8px;
}

.search-chip:hover {
    background-color: #F4F4F4;
    cursor: pointer;
}

@media (max-width: 768px) {
    .search-chip {
        padding: 0.5rem;
        font-size: 0.9rem;
    }
}