.update-tour-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.update-tour-btn {
    width: 300px;
    height: auto;
}

.update-tour-page {
    display: flex;
    gap: 6rem;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem 4rem;
    padding-bottom: 0;
    overflow: hidden;
}

.update-tour-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: auto;
    margin-bottom: 2rem;
}

.update-tour-img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -4rem;
    margin-top: -2rem;
    overflow: hidden;
}

.update-tour-img img {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    height: calc(100vh - 4.5rem);
}

/* Responsive Styles */
@media (max-width: 1024px) {
    .update-tour-page {
        padding: 1rem;
    }

    .update-tour-page {
        padding: 1rem;
        flex-direction: column;
        align-items: center;
    }

    .update-tour-form {
        width: 100%;
    }

    .update-tour-img {
        display: none;
    }
}

@media (max-width: 768px) {
    .update-tour-page {
        padding: 1rem;
        flex-direction: column;
        align-items: center;
    }

    .update-tour-form {
        width: 100%;
    }

    .update-tour-img {
        display: none;
    }

    .update-tour-btn {
        width: 100%;
    }

}

@media (max-width: 480px) {
    .update-tour-page {
        height: auto;
    }
}