@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background-color: #da5c42;
    color: #ffffff;
}

html,
body {
    height: 100%;
    color: #202445;

}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
}

p {
    font-size: 1rem;
    font-weight: 400;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: transparent;
    position: sticky;
    width: 100%;
    z-index: 999;
    flex-shrink: 0;
}

.navbar-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    list-style: none;
    margin: 0 auto;
}

.navbar-list li {
    list-style: none;
    font-weight: 500;
}

.navbar-link {
    all: unset;
    cursor: pointer;
}

.navbar-toggle {
    display: none;
}

.underline {
    position: relative;
}

.underline::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 6px;
    border-bottom: 8px solid #da5c42;
    transform: translateY(3px);
    z-index: -1;
}

.homepage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    flex-grow: 1;
    min-height: 100%;
    position: relative;
    overflow: hidden;
}

.homepage-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    z-index: 1;
    margin-top: -100px;
    margin-bottom: 12px;
}

.homepage-images {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 90px;
}

.homepage-images .background {
    position: absolute;
    background-image: url("./assets/images/home-pic-bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 710px;
    height: 920px;
    z-index: -2;
    top: -320px;
    right: -100px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    gap: 1rem;
    z-index: 1;
    width: 70%;
}

.image-grid img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.image-grid img:nth-child(1) {
    grid-row: 1 / span 2;
}

.explore-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    gap: 2rem;
    height: 100vh;
}

.explore-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 55%;
    background-image: url("./assets/images/explore-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.explore-search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20%;
}

.explore-search-container.mobile {
    flex-direction: column;
}

.explore-search {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 1200px;
    padding: 1rem;
    flex-wrap: wrap;
}

.explore-heading {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.explore-input-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    max-width: 300px;
}

.explore-input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.explore-input-field {
    font-size: 1rem;
    font-weight: 400;
    width: 100%;
}

.explore-icon {
    width: 28px;
    height: 28px;
    padding: 18px;
    color: #75778B;
    background-color: #F4F4F4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -2px;
}

.search-tags-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.search-tags {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
    margin-bottom: 2rem;
}

.search-chip {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    color: #797C9A;
    border: 1px solid #E1E1E1;
    border-radius: 8px;
}

.search-chip:hover {
    background-color: #F4F4F4;
}

/* Responsive Styles */
@media (max-width: 1024px) {
    .navbar-list {
        display: none;
    }

    .navbar-toggle {
        display: block;
        cursor: pointer;
    }

    .navbar-menu {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 998;
        list-style: none;
        padding: 1rem;
    }

    .navbar-menu.active {
        display: flex;
    }

    .homepage {
        flex-direction: column;
    }

    .homepage-text {
        margin-top: 0;
    }

    .homepage-images {
        width: 100%;
        top: 0;
    }

    .image-grid {
        width: 100%;
    }

    .explore-search {
        margin-top: 200px;
    }
}

@media (max-width: 768px) {
    .navbar-list {
        display: none;
    }

    .navbar-toggle {
        display: block;
        cursor: pointer;
    }

    .navbar-menu {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 998;
        list-style: none;
        padding: 1rem;
    }

    .navbar-menu.active {
        display: flex;
    }

    .homepage {
        flex-direction: column;
    }

    .homepage-text {
        margin-top: 0;
    }

    .homepage-images {
        width: 100%;
        top: 0;
    }

    .image-grid {
        width: 100%;
    }

    .explore-search {
        margin-top: 150px;
    }
}

@media (max-width: 480px) {
    .navbar-list {
        display: none;
    }

    .navbar-toggle {
        display: block;
        cursor: pointer;
    }

    .navbar-menu {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 998;
        list-style: none;
        padding: 1rem;
    }

    .navbar-menu.active {
        display: flex;
    }

    .homepage {
        flex-direction: column;
    }

    .homepage-text {
        margin-top: 0;
    }

    .homepage-images {
        width: 100%;
        top: 0;
    }

    .image-grid {
        width: 100%;
    }

    .explore-search {
        flex-direction: column;
        margin-top: 100px;
    }

    .explore-input-container {
        max-width: 100%;
    }

    .explore-search > .MuiDivider-root {
        display: none;
    }
}