@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
}

::selection {
    background-color: #da5c42;
    color: #ffffff;
}

body {
    height: 100%;
    color: #202445;
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
}

p {
    font-size: 1rem;
    font-weight: 400;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: transparent;
    position: sticky;
    width: 100%;
    z-index: 999;
    flex-shrink: 0;
}

.navbar-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    list-style: none;
    margin: 0 auto;
}

.navbar-list li {
    list-style: none;
    font-weight: 500;
}

.navbar-link {
    all: unset;
    cursor: pointer;
}

.navbar-toggle {
    display: none;
}

.underline {
    position: relative;
}

.underline::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 6px;
    border-bottom: 8px solid #da5c42;
    transform: translateY(3px);
    z-index: -1;
}

.homepage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    flex-grow: 1;
    min-height: 100%;
    position: relative;
    overflow: hidden;
}

.homepage-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    z-index: 1;
    margin-top: -100px;
    margin-bottom: 12px;
}

.homepage-images {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 90px;
}

.homepage-images .background {
    position: absolute;
    background-image: url("./assets/images/home-pic-bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 710px;
    height: 920px;
    z-index: -2;
    top: -320px;
    right: -100px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    gap: 1rem;
    z-index: 1;
    width: 70%;
}

.image-grid img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.image-grid img:nth-child(1) {
    grid-row: 1 / span 2;
}

.explore-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    gap: 2rem;
    height: 100vh;
}

.explore-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 55%;
    background-image: url("./assets/images/explore-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.explore-search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto 0;
    padding-top: 10rem;
    padding-bottom: 2rem;
}

.explore-search {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 1200px;
    padding: 1rem;
    flex-wrap: wrap;
    flex-direction: row;
}

.explore-heading {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.explore-input-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    max-width: 300px;
}

.explore-input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.explore-input-field {
    font-size: 1rem;
    font-weight: 400;
    width: 100%;
}

.explore-icon {
    width: 28px;
    height: 28px;
    padding: 18px;
    color: #75778B;
    background-color: #F4F4F4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -2px;
}

.search-btn {
    height: 100%;
}

.search-tags-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.search-tags {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    width: 80%;
    margin-bottom: 2rem;
}

.search-chip {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    color: #797C9A;
    border: 1px solid #E1E1E1;
    border-radius: 8px;
}

.search-chip:hover {
    background-color: #F4F4F4;
    cursor: pointer;
}

.tours-page {
    padding: 2rem;
}

.tour-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem 3rem;
    width: auto;
    margin: 2rem auto;

}

.tour-card {
    transition: all 0.3s;
}

.tour-card:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
}

.tour-card-img {
    width: 100%;
    height: 60%;
    background-size: cover;
    background-position: center;
}

.tour-description-short {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    max-height: 3em;
    line-height: 1.5em;
}

.tour-card-details {
    width: 100%;
    padding: 1rem;
    text-align: left;
}

.tour-card-details h3 {
    margin-bottom: 0.5rem;
}

.tour-card-details p {
    color: #999;
    margin-bottom: 1rem;
}

.tour-card-icons {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.tour-card-icon {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    color: #999;
}

.tour-details-page {
    padding: 2rem;
}

.error-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: auto 0;
}

.tour-not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 8%;
}

.tour-not-found p {
    text-align: center;
}

.tour-details-icons {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
}

.tour-details-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 2rem 0;
}

.tour-details-img-lg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.tour-details-img-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}

.tour-details-img-sm {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.tour-details-desc {
    margin: 2rem 0;
    text-align: left;
}

.tour-details-included table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    margin-bottom: 2rem;
    background-color: transparent;
}

.tour-details-included th,
.tour-details-included td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #bfbfbf;
}

.tour-details-included th {
    font-weight: 600;
}

.tour-details-included ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 0.5rem;

}

.tour-details-included li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.tour-details-included .check-icon {
    color: #da5c42;
    width: 20px;
    height: 20px;
}

.tour-details-itinerary {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 2rem auto;
    justify-content: center;
}

.itinerary-card {
    background-color: #fff;
    border-radius: 12px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.itinerary-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.itinerary-card-header h3 {
    margin: 0;
}

.itinerary-card ul {
    list-style-type: disc;
    padding-left: 1.5rem;
}

.book-tour-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.book-tour-btn {
    width: 300px;
    height: auto;
}

/* Responsive Styles */
@media (max-width: 1024px) {
    .navbar-list {
        display: none;
    }

    .navbar-toggle {
        display: block;
        cursor: pointer;
    }

    .navbar-menu {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 998;
        list-style: none;
        padding: 1rem;
    }

    .navbar-menu.active {
        display: flex;
    }

    .homepage {
        flex-direction: column;
    }

    .homepage-text {
        margin-top: 0;
    }

    .homepage-images {
        width: 100%;
        top: 0;
    }

    .image-grid {
        width: 100%;
    }

    .explore-search {
        margin-top: 200px;
    }

    .tour-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .tour-details-images {
        grid-template-columns: 1fr;
    }

    .tour-details-img-grid {
        grid-template-columns: 1fr;
    }

    .tour-details-icons {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 768px) {
    .navbar-list {
        display: none;
    }

    .navbar-toggle {
        display: block;
        cursor: pointer;
    }

    .navbar-menu {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 998;
        list-style: none;
        padding: 1rem;
    }

    .navbar-menu.active {
        display: flex;
    }

    .homepage {
        flex-direction: column;
    }

    .homepage-text {
        margin-top: 0;
    }

    .homepage-images {
        width: 100%;
        top: 0;
    }

    .image-grid {
        width: 100%;
    }

    .explore-search-container {
        padding-top: 4rem;
    }

    .explore-search {
        margin-top: 150px;
    }

    .search-btn {
        height: auto;
    }

    .search-tags {
        width: 100%;
        gap: 0.5rem;
    }

    .tour-cards {
        grid-template-columns: 1fr;
    }

    .tour-card {
        margin-bottom: 1rem;
    }

    .tour-details-images {
        grid-template-columns: 1fr;
    }

    .tour-details-img-grid {
        display: none;
    }

    .tour-details-included ul {
        grid-template-columns: 1fr;
    }

    .tour-details-included li {
        align-items: start;
    }

    .book-tour-btn {
        width: 100%;
    }

    .tour-details-icons {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
}

@media (max-width: 480px) {
    .navbar-list {
        display: none;
    }

    .navbar-toggle {
        display: block;
        cursor: pointer;
    }

    .navbar-menu {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 998;
        list-style: none;
        padding: 1rem;
    }

    .navbar-menu.active {
        display: flex;
    }

    .homepage {
        flex-direction: column;
    }

    .homepage-text {
        margin-top: 0;
    }

    .homepage-images {
        width: 100%;
        top: 0;
    }

    .image-grid {
        width: 100%;
    }

    .explore-search {
        flex-direction: column;
        /* Ensure input fields stack vertically */
        margin-top: 100px;
    }

    .explore-input-container {
        max-width: 100%;
    }


    .explore-search button {
        width: 100%;
    }

    .tour-cards {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .tour-details-images {
        grid-template-columns: 1fr;
    }

    .tour-details-img-grid {
        grid-template-columns: 1fr;
    }

    .tour-details-icons {
        flex-direction: column;
        align-items: flex-start;
    }
}